@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit',
        sans-serif;
}

.main {
    height: 100vh;
    background: linear-gradient(to top, #fff 0%, #43c);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .container {
    height: 70%;
    text-align: center;
    margin: 5%;
    border-radius: 15px;
    background-color: #fff;
    width: 360px;
    max-width: 380px;
    width: 100%;
}

.main .container img {
    /* min-width: 10px; */
    width: 350px;
    max-width: 360px;
    width: 100%;
    /* border: 2px solid red; */
    object-fit: cover;
    padding: 5%;
    border-radius: 10%;
}

.main .container .descripción {
    margin: 8%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main .container .descripción p {
    /* border: 2px solid red; */
    margin: 5%;
    font-size: 15px;
    font-weight: 400;
}